{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Second Brain</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'list_create' %}">Create a new list</a>
        </li>
        <li>
          <a href="{% url 'item_create' %}">Create a new item</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="">
    {% for item in todo_lists %}
          <a href="{% url 'list_detail' %}">{{ item.name }}</a>
        </h2>
      </div>
    {% endfor %}
  </main>
</body>

</html>

<!--
The resulting HTML that you see in the browser must have

Each todo list's name in it

A link to the detail page of each todo list
A link to the create page for a todo list
A link to the create page for a todo item

-->